# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Application\Project\PHP\Codeigniter\CI - 4 Sistem Informasi Penjualan Ayam Potong Santu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
